<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <!-- import another ejs page  -->
    <%-   include('common/header')  %>
<h1> NAme :   <%=  user.name %></h1>
<h1> age :   <%=  user.age %></h1>
<h1> NAme :   <%=  user.name %></h1>
<!-- create loop using ejs  -->

<ul>
    <%  user.skills.forEach((item)=>{  %>
   <li>      <%=  item  %></li>
        <% }) %>
</ul>

</body>
</html>


